extends layout

block content
  if sum < 300
    -fontcolor = "white"
  body
    div(style="background-color: ##{hex}; color: #{fontcolor}")  
      ul
        li
          span ##{hex} 
        li
          span #{rgb} 
