extends layout

block content
  if hex
    body(style="background-color: ##{hex}")  
  else 
    body(style="background-color: rgb(#{color})")

  ul
    li hex: 
      span #{hex} 
    li rgb: 
      span #{color} 