body {
  height: 100%;
  width: 100%;
  font: 69px Helvetica, Arial, sans-serif;
  font-style: bold;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 0;
}

.white {
  color: white;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}